.root-color-palette {
  /* White */
  --palette-base00: #FFFFFF
  /* LightPurpleGray */
  --palette-base01: #dbc6e0
  /* MediumPurpleGray */
  --palette-base02: #8d7992
  /* PurplishGray */
  --palette-base03: #5d4862
  /* DarkPurpleGray */
  --palette-base04: #26122a
  /* Black */
  --palette-base05: #000000
  
  /* LightPurple */
  --palette-accent-light: #fff4ff
  /* Purple */
  --palette-accent: #DF6AF2
  /* DarkPurple */
  --palette-accent-dark: #59086D

  /* Orange */
  --palette-err: #ef671a
}
