// .container {
// display: flex;
// flex-direction: column;
// }
.searchAndFollow {
    display: flex;
    flex-direction: row;
}

.bar {
    lost-colomn: 2 / 3;
}

.btn_d {
    lost-colomn: 1 / 3;
}