// .container {
// display: flex;
// flex-direction: column;
// }
.searchAndFollow {
    display: flex;
    flex-direction: row;
}

.bar {
    width: 67%;
}

.btn_d {
    width: 33%;

    .btn-follow {
        margin: 0 10% 0 10%;
        width: 80%;
        align-self: center;
    }
}

.btn-wide {
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 20px 20px 50px 20px;
    color: var(--btn-bg-color, btn-default-bg-color);
    font-size: 25px;
    background-color: #FFFFFF;
    border-color: #DFCCE4;
    width: 100%;

    &:hover {
        color: #DF6AF2;
        background-color: #ffffff;
        border-color: #DF6AF2;
    }
}

.btn-read {
    &:hover {
        color: var(--btn-bg-color, btn-default-bg-color);
    }
}

.btn-new {
    padding: 10px 20px 10px 20px;
    align-items: center;
}

.icon {
    margin-bottom: 10px;
    margin-right: 10px;
}

.inside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .title {
        font-size: 25px;
    }

    .sub {
        display: flex;
        flex-direction: row;
        color: #8D7992;

        .from {
            font-size: 15px;
            margin-right: 20px;
        }

        .time {
            font-size: 15px;
        }
    }

    .content {
        font-size: 18px;
    }
}