<div class="container">
  <h4>@{{ channel.channelUsername }}</h4>
  <h1>频道设置</h1>
  <div class="setup">
    <div class="groupName">
      <div class="name">频道名称</div>
      <input [placeholder]="channel.channelTitle" class="search-box textbox input" />
    </div>
    <div class="groupUserName">
      <div class="name">频道用户名</div>
      <input [placeholder]="channel.channelUsername" class="search-box textbox input" />
    </div>
  </div>

  <div class="public">
    <input type="checkbox" class="check" />
    <div class="name">公开频道</div>
  </div>
  <div class="save">
    <button class="btn">保存</button>
  </div>

  <div class="share_title">
    <h3>链接分享</h3>
    <mat-icon svgIcon="plus" class="icon"></mat-icon>
  </div>

  <div *ngFor="let linkInfo of linkList; let i = index" class="line">
    <div class="link">
      <div class="link_content">
        <div class="link_head">hato/</div>
        <div class="link_tail">{{ linkInfo.link }}</div>
      </div>
      <mat-icon svgIcon="close" class="icon"></mat-icon>
    </div>
    <div class="link_info">
      <div class="dead_time">< {{ linkInfo.deadTime }}</div>
      <div class="authority">R&nbsp;&nbsp;|&nbsp;&nbsp;S</div>
    </div>
  </div>

  <div class="manage_title">
    <h3>成员管理</h3>
  </div>

  <div *ngFor="let userInfo of userList; let i = index" class="line">
    <div class="manage">
      <div class="name">{{ userInfo.name }}</div>
      <mat-icon svgIcon="close" class="icon"></mat-icon>
    </div>
    <div class="manage_info">
      <div class="email">{{ userInfo.email }}</div>
      <div class="authority">{{ userInfo.authority }}</div>
    </div>
  </div>
</div>
