searchbar-default-background-color = var(--theme-base07);
searchbar-default-text-color = var(--theme-base01);
searchbar-default-placeholder-color = var(--theme-base02);
searchbar-default-border-color = var(--theme-base04);
searchbar-default-accent-color = var(--theme-accent);
// 
@lost gutter 24px; // ..
@lost flexbox flex; // ..

.searchbar {
    display: flex;
}

.search-box {
    justify-content: flex-start;
    flex-grow: 1;
    border-color: var(--textbox-accent-color, searchbar-default-accent-color);
}

.btn.search-btn {
    font-weight: 500;
    margin-left: var(--theme-pad-03);
}