.searchbar {
    display: flex;
    min-width: 205px;
    max-width: 450px;
}

.search-box {
    justify-content: flex-start;
    flex-grow: 1;
    border-color: var(--textbox-accent-color, searchbar-default-accent-color);
}

.btn.search-btn {
    font-weight: 500;
    margin-left: var(--theme-pad-03);
}