:80, :443 {
    root * /var/www/hato/

    @not_api {
        not {
            path /api/* /connect/*
        }
    }
    
    @api {
        path /api/* /connect/*
    }

    reverse_proxy @api {
        to hato_server:80
    }
    
    route @not_api {
        try_files {path} {path}.html {path}.htm index.html index.htm
        file_server
    }
}
