.opr {
  display: flex;
  justify-content: space-between;
}

.btn-light {
  width: 160px;
  margin-left: 50px;
  min-width: 110px;
}

app-searchbar {
  width: 80%;
}

.list {
  margin-top: var(--theme-pad-05);
}

.card {
  margin-bottom: var(--theme-pad-03);
}

.channel-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  margin-bottom: var(--theme-pad-03);
}

.sender {
  color: var(--theme-link-color);
}

.message {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}