.opr {
  display: flex;
  justify-content: space-between;
}

.btn-light {
  width: 160px;
  margin-left: 50px;
  min-width: 110px;
}

app-searchbar {
  width: 80%;
}

.list {
  margin-top: var(--theme-pad-05);
}

.channel {
  background-color: var(--theme-window-color);
  padding: var(--theme-pad-04);
  margin-bottom: var(--theme-pad-03);
  border-width: 0;
  border-radius: 4px;
  display: flex;
  flex-flow: column;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);

  &:hover {
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2);
    cursor: pointer;
  }
}

.channel-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  font-size: var(--theme-size-h3);
  color: var(--theme-text-header-color);
  font-weight: bold;
  margin-bottom: var(--theme-pad-03)
}

.message, .time{
  font-size: var(--theme-size-larger);
  color: var(--theme-text-info-color);

  & .sender {
    color: var(--theme-link-color);
  }
}

