@lost flexbox flex;

.list {
    .line {
        display: flex;
        flex-direction: row;

        .name {
            lost-column: 5 / 6;
        }

        .op {
            lost-column: 1 / 6;
            align-items: center
        }
    }
}