<div class="container">
  <div class="nav">
    <div class="nav-item home" routerLink="">tegami hato</div>
    <div class="info">
      <div *ngIf="!isloggedIn; then notLoggedIn; else loggedIn"></div>
      <ng-template #notLoggedIn>
        <div class="nav-item" routerLink="/login">登录 / 注册</div>
      </ng-template>
      <ng-template #loggedIn>
        <div class="nav-item" routerLink="/me">
          欢迎，i@rynco.me
        </div>
        <div class="nav-item" routerLink="/follow">我关注的</div>
      </ng-template>
    </div>
  </div>
</div>
