<div class="container">
  <div class="nav">
    <div class="nav-item home" routerLink="">tegami hato</div>
    <div class="info">
      <div *ngIf="!isloggedIn; then notLoggedIn; else loggedIn"></div>
      <ng-template #notLoggedIn>
        <div class="nav-item" routerLink="/login">登录 / 注册</div>
      </ng-template>
      <ng-template #loggedIn>
        <div class="nav-item me" routerLink="/me/setting" >
          欢迎，{{ userName }}
        </div>
        <div class="nav-item" routerLink="/follow">我的频道</div>
        <div class="nav-item" routerLink="/news">最新动态</div>
      </ng-template>
    </div>
  </div>
</div>
