<div class="info">
  <div
    *ngFor="let msg of list; let i = index"
    class="card"
    (click)="clickToOpen(i)"
  >
    <div *ngIf="showThis == i; then Open; else Close" (click)="(false)"></div>

    <ng-template #Close>
      <div class="close">
        <div class="title">
          {{ msg.title }}
        </div>
        <div class="abstract info">
          <span *ngIf="!showChannel" class="sender"> {{ msg.senderNickname }}： </span>
          <span *ngIf="showChannel" class="sender"> {{ msg.channel.channelTitle }}： </span>
          {{ msg.bodyPlain }}
        </div>
      </div>
    </ng-template>

    <ng-template #Open>
      <div class="open">
        <div class="title">
          {{ msg.title }}
        </div>

        <div class="info">
          <div 
            class="channel" 
            *ngIf="showChannel"
            [routerLink]="['/channel', msg.channel.channelId]" >
            {{ msg.channel.channelTitle }}
          </div>
          <div class="sender">
            {{ msg.senderNickname }} &lt; {{ msg.senderEmail }} &gt;
          </div>
          <div class="time">
            {{ ulidTime(msg.msgId) | date: "yyyy/MM/dd H:mm" }}
          </div>
        </div>

        <div class="content" [innerHTML]="msg.bodyHtml">
          {{ msg.bodyHtml }}
        </div>
        <div class="attachments">
          <div *ngFor="let att of msg.attachments" class="attachment">
            <app-attachment [attachment]="att"></app-attachment>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
