.welcome {
    display: flex;
    align-items: center;
    
    flex-direction: column;

    .title {
    }
}

.pic_contain {
    z-index: 0;
    position: absolute;
    bottom: 0px;
    right: 0px;

    .backgroundpic {
    }
}