.area {
    display: flex;
    flex-direction: column;

    .line {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    margin-bottom: var(--theme-pad-04);
}

.h3 {
    margin-bottom: var(--theme-pad-02);
}

.create{
    margin-top:var(--theme-pad-05);
    }